{
  "presets": [
    "next/babel"
  ],
  "env": {
    "development": {
      "plugins": [
        [
          "module-resolver", {
            "alias": {
              "@": "./",
            }
          },
        ],
        "react-intl",
      ]
    },
    "production": {
      "plugins": [
        [
          "module-resolver", {
            "alias": {
              "@": "./",
            }
          },
        ],
        ["react-intl", {
          "messagesDir": "lang/.messages/"
        }],
      ]
    }
  }
}